<!DOCTYPE html>
<html>
    <head>
        <title>
            OutingAI
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1>OutingAI</h1>
                <form id="userForm">
                    <label for="activity_type">Select tags for this outing:</label>

                    <div class="fields_row">
                        <div class="fields">
                            <label>
                                <input type="checkbox" name="activity_type" value="Food">
                                Food
                            </label>
                        </div>

                        <div class="fields">
                            <label>    
                                <input type="checkbox" name="activity_type" value="Outdoors">
                                Outdoors
                            </label>
                        </div>

                        <div class="fields">
                            <label>
                                <input type="checkbox" name="activity_type" value="Indoors">
                                Indoors
                            </label>
                        </div>

                        <div class="fields">
                            <label>
                                <input type="checkbox" name="activity_type" value="Formal">
                                Formal
                            </label>
                        </div>

                        <div class="fields">
                            <label>
                                <input type="checkbox" name="activity_type" value="Casual">
                                Casual
                            </label>
                        </div>

                        <div class="fields">
                            <label>
                                <input type="checkbox" name="activity_type" value="Sporty">
                                Sporty
                            </label>
                        </div>
                    </div>
                    
                    <label for="num_people">Number of Persons <span class="required">*</span></label>
                    <select name="num_people" id="num_people" required>
                        <option selected>-</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=15>15+</option>
                    </select>
                    <div id="countDisplay"></div>
                    
                    <label for="date">Date <span class="required">*</span></label>
                    <input type="date" name="date" required>

                    <label for="earliest-time">Time <span class="required">*</span></label>
                    <input type="time" name="earliest-time" required>

                    <label for="city-state">City, State <span class="required">*</span></label>
                    <input type="text" name="city-state" placeholder='Ashburn, Virginia' required>

                    <label for="zipcode">Zipcode</label>
                    <input type="text" name="zipcode" placeholder='12345'>

                    <label for="notes">Notes</label>
                    <input type="text" name="notes" placeholder='"I am craving something sweet."'>


                    <input type="submit" value="Generate Plan"> 

                    <button onclick="window.location.reload()" id="reset">New Plan</button>
                </form>

                <br>

                <div class="output">
                    <p id="output"></p>
                </div>

                <div class="credits">
                    <a href="https://github.com/Iced-code/outingAI" target='_blank'>
                        Developed by Ayaan Modak (<span style="text-decoration: underline">Github: Iced-Code</span>)
                    </a>
                </div>
            </div>
            
            
        </div>

        <script>
            const select = document.getElementById("num_people");
            const display = document.getElementById("countDisplay");

            const sprites = ["stick1", "stick2", "stick3", "stick4", "stick5"]

            select.addEventListener('change', function() {
                const count = parseInt(this.value) || 0;

                display.innerHTML = "";

                for(let i = 0; i < count; i++){
                    let sp = sprites[Math.floor(Math.random()*sprites.length)];

                    const img = document.createElement("img")
                    img.src = `../static/${sp}.png`;
                    display.appendChild(img);
                }
            });

            document.getElementById("userForm").addEventListener("submit", async function(e) {
                e.preventDefault(); // stop page reload

                document.getElementById("output").innerText = "Loading...";
                document.getElementsByClassName("output")[0].style.display = "block";

                const formData = new FormData(this);

                const response = await fetch("/submit", {
                    method: "POST",
                    body: formData
                });

                const data = await response.json();

                document.getElementById("output").innerText = data.message;
            });
        </script>
    </body>
</html>